.landing-page {
  height: 100vh;
  background: #0f0f0f;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  text-align: center;
}

.landing-btn {
  background: #ff4747;
  padding: 14px 28px;
  font-size: 1.2rem;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  color: #fff;
  margin-top: 20px;
  transition: 0.25s;
}

.landing-btn:hover {
  background: #ff2d2d;
  transform: scale(1.05);
}
